.page-home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; // Sau culoarea ta de fundal generală
  
  // Opțional: Spațiere între secțiuni dacă componentele nu au padding intern
  section {
    width: 100%;
  }
}